.ByBrand {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    background-color: #08192B;
    color: #B780DF;
}

nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DFAFC7;
}

.BrandNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 17vw;
    padding: 20px 40px;
}

.BrandNav > img {
    width: 45px;
}

.BrandNav > p {
    font-size: 105%;
}

.NavArrow {
    font-size: small;
    margin-top: 2px;
    opacity: 0;
    transition: all 200ms ease-in;
}

.BrandNav:hover {
    color: #DFAFC7;
}

.BrandNav:hover .NavArrow {
    opacity: 1;
}

.innerClass {
    display: flex;
    flex-direction: row;
}