header {
    display: flex;
    flex-direction: row;
    background-color: #08192B;
    color: #B780DF;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #DFAFC7;
}

.Header {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.Header > h1 {
    font-family: 'Lobster', cursive;
    font-size: 250%;
}

.Header > h3 {
    font-weight: 100;
    font-size: 80%;
}

.BackToHome {
    color: #B780DF;
    font-size: 110%;
    transition: 1px solid ease-in;
    margin-right: 20px;
}

.BackToHome:hover {
    color: #DFAFC7;
}